# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries in Data Science
* Open source tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientists include:
1. pandas
2. numpy
3. Matplotlib
4. SciKit-Learn

|Data Science Tools|
|-------------   |
|Matplotlib|
|Tensorflow|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Kamal